<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.four.webbackend.mapper.ShareLinkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.four.webbackend.entity.ShareLinkEntity">
        <id column="share_link_id" property="shareLinkId" />
        <result column="user_id" property="userId" />
        <result column="link" property="link" />
        <result column="file_id" property="fileId" />
        <result column="is_dir" property="isDir" />
        <result column="expire" property="expire" />
        <result column="target_id" property="targetId" />
        <result column="version" property="version" />
        <result column="is_delete" property="isDelete" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_update" property="gmtUpdate" />
    </resultMap>

</mapper>
