<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.four.webbackend.mapper.UserFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.four.webbackend.entity.UserFileEntity">
        <id column="user_file_id" property="userFileId"/>
        <result column="user_id" property="userId"/>
        <result column="dir_id" property="dirId"/>
        <result column="file_id" property="fileId"/>
        <result column="md5" property="md5"/>
        <result column="version" property="version"/>
        <result column="is_delete" property="isDelete"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_update" property="gmtUpdate"/>
    </resultMap>
    <update id="restoreFile">
        UPDATE user_file
        SET is_delete=0
        WHERE is_delete = 1
          AND user_id = #{userId}
          AND user_file_id = #{userFileId}

    </update>
    <delete id="realDel">
        DELETE
        FROM user_file
        WHERE is_delete = 1
          AND user_id = #{userId}
          AND user_file_id = #{userFileId}
    </delete>
    <select id="selectPageVo" resultType="com.four.webbackend.entity.UserFileEntity">
        SELECT file_id, user_file_id
        FROM user_file
        WHERE is_delete = 1
          AND user_id = #{userId}
    </select>

</mapper>
